@using OnlineShop.Service.ModelViews
@model CatalogResult
@{
    ViewBag.Title = "Index";
    var count = 0;
}
@section scripts{
    <script src="@Url.Content("~/")app/controllers/productListController.js"></script>
}
<div id="main">
    <div id="productListController" ng-controller="productListController">
        @if (Model.Products.Count() > 0)
        {
            <section id="widget-grid" class="catContent" ng-init="updateLoadMoreShow(@Model.MoreResults)">
                <div class="row">
                    @foreach (var product in Model.Products)
                    {
                        if (count < 2)
                        {
                            @Html.Partial("_MediumProductWrap", product)
                        }
                        else
                        {
                            @Html.Partial("_SmallProductWrap", product)
                        }
                        { count++; }
                    }
                </div>
            </section>
            <div class="col-sm-12 text-center">
                <a ng-click="loadMore()" ng-show="loadMoreShow" href="javascript:void(0);" class="btn btn-primary btn-lg">Load more <i class="fa fa-arrow-down"></i></a>
            </div>
        }
        else
        {
            <div class="grid-container"><h4>No items found</h4></div>
        }
    </div>
</div>

