<div class="row">
    <div class="col-sm-12">
        <!-- product -->
        <div class="product-content product-wrap clearfix">
            <div class="row">
                <div class="col-md-3">
                    <a href="javascript:void(0)">
                        <div class="product-image" style="min-height:initial">
                            <img src="@Model.Product.ProductImagePath" alt="194x228" class="img-responsive">
                        </div>
                    </a>
                </div>
                <div class="col-md-9">
                    <div class="product-deatil">
                        <h5 class="name">
                            <a href="javascript:void(0)">
                               {{orderDetail.product.name}} <span>{{orderDetail.product.category.name}}</span>
                            </a>
                        </h5>
                        <p class="price-container">
                            <span> {{orderDetail.quantity}}   Pieces   <span class="txt-multiply">×</span>   {{orderDetail.product.priceInDollar}}  </span>
                        </p>
                        <span class="tag1"></span>
                    </div>
                    <div class="description">
                        <p>{{orderDetail.product.description}} </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- end product -->
    </div>
</div>
